* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: black;
    font-family: "Red Hat Display", sans-serif;
    font-size: 16px;
    height: 50%;


    
}      

.card {
    border: 5px solid white;
    background-origin: padding-box;
    width: 450px;
    background-color: white;
    color: var(--desaturated-blue);
    border-radius: 20px;
    overflow: hidden;
    margin: 50px auto;
}

.title {
    color: var(--dark-blue);
    font-weight: 900;
    font-size: 32px;
}

.hero-image {
    height: 70%;
    width: 100%;
}

.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}

.container>* {
    margin: 13px 0;
}

.order-description {
    line-height: 25px;
}

.plan-container {
    font-size: 12px;
    background-color: var(--very-pale-blue);
    padding: 25px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.plan-container a {
    color: var(--bright-blue);
    font-size: 13px;
    font-weight: 700;
}

.plan-description {
    line-height: 20px;
    margin-right: 70px;
}

button {
    width: 100%;
    border: none;
    font-weight: 700;
    font-size: 0.9rem;
    border-radius: 12px;
    cursor: pointer;
}

.proceed-button {
    background-color: blue;
    padding: 1rem 0;
    color: white;
    box-shadow: 0 20px 30px -8px rgb(197, 189, 245);
}

.cancel-button {
    background-color: white;
    color: var(--desaturated-blue);
    border: none;
    margin-top: 22px;
}
@media only screen and (max-width: 480px) {
    .card {
        width: 100%;
    }

    .hero-image {
        height: 40%;
    }

    .container {
        font-size: 14px;
    }

    .plan-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .plan-description {
        margin-right: 0;
        margin-top: 10px;
    }
}
